html {
  --main-bg-color: #E8EAED;
  --darker-bg-color: #EAE2E4;
  --main-content-color: #F0F2F5;
  --main-text-color: black;
  --bright-heading-color: #FF5A5F;
  --main-header-color: #4C4B63;
  --recent-actions-color: #608FE6;
  --username-black: #2C2B43;
  --contributor-green: #35E5A5;
  --main-text-font: 'Mosk Medium 500';
  --bold-text-font: 'Mosk Bold 700';
}

html, body {
  background-color: var(--main-bg-color);
  font-family: var(--main-text-font);
  color: var(--main-text-color);
  margin: 0;
  width: 100%;
  height: 100%;
}

body.Global-mouse-click *:not(input):focus {
  outline: none;
}

.App, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* MathJax, why is there a tiny white square
in the bottom-left corner if I don't do this? */
.MJX_HoverRegion, .MJX_ToolTip, .MJX_LiveRegion {
  display: none !important;
}
