.Edit-note-contest {
  font-style: italic;
}

.Edit-note-form {
  display: flex;
  flex-direction: column;
  padding: 1.4em;
  margin-top: 1em;
  box-sizing: border-box;
  background-color: #222233;
  border: 1px solid white;
  border-radius: 3px;
  flex: 1 0 auto;
}

.Edit-note-title {
  margin-bottom: 1em;
}

.Edit-note-form .Askd-text-editor {
  flex: 1 0 auto;
}

.Edit-note-bottom-buttons {
  display: inline-block;
}

.Edit-note-bottom-buttons input {
  margin-right: 1em;
  width: 8em;
  height: 2.2em;
}
