.Askd-form {
  width: 100%;
  font-family: 'Arial';
  font-weight: bold;
}

.Askd-form input,
.Askd-form textarea,
.Askd-form label,
.Askd-form select {
  display: block;
  width: 100%;
  border-radius: 3px;
  border: none;
}

.Askd-form textarea {
  min-height: 10em;
}

.Askd-form input, .Askd-form textarea, .Askd-form select {
  box-sizing: border-box;
  padding: 0.5em;
}

.Askd-form .Search-select {
  position: relative;
}

.Askd-form .Search-select-options {
  width: 100%;
}

.Askd-form input:not([type="submit"]):not([name="link"]),
.Askd-form textarea,
.Askd-form select {
  margin-bottom: 1em;
}

.Askd-form-inline {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.8em;
}

.Askd-form-inline span {
  margin-right: 0.4em;
}

.Askd-form-inline input {
  margin-bottom: 0;
}

.Askd-button {
  border: none;
  transition: 0.5s;
}

.Askd-button-circular {
  background-color: #DDDDDD;
  color: black;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.Askd-button-circular:hover {
  background-color: #BBBBBB;
}

.Askd-button:hover {
  cursor: pointer;
  transition: 0.5s;
}

.Askd-form-required::after {
  color: #EE3333;
  font-size: 0.7em;
  font-style: italic;
  content: ' required';
}
