.Askd-form {
  width: 100%;
  font-family: 'Arial';
  font-weight: bold;
}

.Askd-form input,
.Askd-form textarea,
.Askd-form label,
.Askd-form select {
  display: block;
  border-radius: 3px;
  border: none;
}

.Askd-form input:not(.Askd-not-fullwidth),
.Askd-form textarea,
.Askd-form label,
.Askd-form select {
  width: 100%;
}

input.Askd-not-fullwidth {
  display: inline-block;
}

.Askd-form label {
  color: #DDDDDD;
  margin-top: 1em;
}

.Askd-form textarea {
  min-height: 10em;
  resize: vertical;
}

.Askd-form select {
  background-image: url('../img/dropdown.png');
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: right 0.5em bottom 50%;
}

.Askd-form input, .Askd-form textarea, .Askd-form select {
  box-sizing: border-box;
  padding: 0.5em;
  background-color: #444466;
  color: #DDDDDD;
  appearance: none;
}

.Askd-form :disabled {
  background-color: #303060;
}

.Askd-form input[type="submit"]:enabled,
.Askd-form input[type="button"]:enabled {
  background-color: #606080;
}

.Askd-form input[type="submit"]:hover:enabled,
.Askd-form input[type="button"]:hover:enabled {
  background-color: #707090;
}

.Askd-form .Search-select {
  position: relative;
}

.Askd-form .Search-select-options {
  width: 100%;
}

.Askd-form-inline {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.8em;
}

.Askd-form-inline span {
  margin-right: 0.4em;
}

.Askd-form-inline input {
  margin-bottom: 0;
}

.Askd-form .Askd-form-link {
  font-size: 0.8em;
}

.Askd-form-link {
  font-weight: normal;
  color: #77AAFF;
  text-align: left;
}

button.Askd-form-link {
  background: none;
  border: none;
  padding: 0;
}

.Askd-form-link {
  text-decoration: none;
}

.Askd-form-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Askd-form-link-bottom {
  margin-top: 1em;
}

.Askd-button {
  border: none;
  transition: background-color, opacity 0.5s;
}

.Askd-button-circular {
  background-color: #DDDDDD;
  text-align: center;
  color: black;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  border-radius: 100%;
}

.Askd-button-circular:hover {
  background-color: #BBBBBB;
}

.Askd-button:hover:enabled {
  cursor: pointer;
  transition: color, background-color, opacity 0.5s;
}

.Askd-button-generic {
  display: inline-flex;
  width: auto;
  border: none;
  transition: 0.5s;
  background: none;
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.Askd-button-generic:hover {
  cursor: pointer;
  transition: color 0.25s;
  color: #CCCCCC;
}

.Askd-form-loading {
  background-image: url('../img/spinner.gif');
  background-size: auto 60%;
  background-position: right 0.5em bottom 50%;
  background-repeat: no-repeat;
}

.Askd-form-required::after {
  color: #EE3333;
  font-size: 0.7em;
  font-style: italic;
  content: ' required';
}

.Askd-form-close {
  position: fixed;
  top: 1em;
  right: 1.5em;
}
