.Header {
  font-family: 'Mosk Medium 500';
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 30, 100, 0.9);
  flex: 0 0 12em;
  width: 100%;
}

.Header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  background-image: url('../img/header_bg.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000020;
  height: 12em;
}

.Header h1 {
  font-size: 3em;
  color: white;
  margin: 0;
  padding-bottom: 0.5em;
  z-index: 1;
}

.Header h1:hover {
  cursor: default;
}

.Header ul {
  position: absolute;
  list-style-type: none;
  bottom: 1.5em;
  padding: 0;
}

.Header ul li {
  display: inline-block;
  color: white;
  transition: 0.25s;
}

.Header ul li:hover, .Header-top-right span:hover {
  cursor: pointer;
  color: #CCCCCC;
  transition: 0.25s;
}

.Header-divider::after {
  margin: 0.4em;
  color: #CC2277;
  content: '|';
}

.Header-top-right span {
  display: inline-block;
  color: white;
  transition: 0.25s;
}

.Header-top-right {
  position: absolute;
  top: 1em;
  right: 1em;
}

.Header-user-menu {
  position: absolute;
  top: 3em;
  right: 1em;
  z-index: 2;
}

.Header-bottom {
  position: absolute;
  bottom: 0;
  background-color: darkgray;
  height: 0.3em;
  width: 100%;
}
