.Header, .Header-small {
  display: flex;
  position: relative;
  font-family: 'Mosk Medium 500';
  background-color: rgba(30, 30, 100, 0.9);
  width: 100%;
}

.Header {
  height: 12em;
  transition: ease-out 0.5s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header-small {
  height: 3em;
  transition: ease-out 0.5s;
}

.Header::before, .Header-small::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  background-image: url('../img/header_bg.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000020;
  transition: ease-out 0.5s;
}

.Header::before {
  height: 12em;
}

.Header-small::before {
  height: 3em;
}

.Header h1 {
  font-size: 3em;
  color: white;
  margin: 0;
  padding-bottom: 0.5em;
  z-index: 1;
}

.Header h1:hover {
  cursor: default;
}

.Header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.Header-small ul {
  list-style-type: none;
  z-index: 1;
  margin: 0;
  font-size: 1em;
  padding: 1em;
}

.Header-small ul li a, .Header ul li a {
  display: inline-block;
  color: white;
  transition: 0.25s;
  text-decoration: none;
}

.Header-small ul li a:hover,
.Header ul li a:hover,
.Header-top-right span:hover {
  cursor: pointer;
  color: #CCCCCC;
  transition: 0.25s;
}

.Header-divider::after {
  margin: 0.4em;
  color: #CC2277;
  content: '|';
}

.Header-top-right span {
  display: inline-block;
  color: white;
  transition: 0.25s;
}

.Header-top-right {
  position: absolute;
  top: 1em;
  right: 1em;
}

.Header-user-menu {
  position: absolute;
  top: 3em;
  right: 1em;
  z-index: 2;
}

.Header-bottom {
  position: absolute;
  bottom: 0;
  background-color: darkgray;
  width: 100%;
  height: 0.2em;
}

.Header .Header-bottom {
  opacity: 1;
  transition: 0.5s;
}

.Header-small .Header-bottom {
  opacity: 0;
  transition: 0.5s;
}
