.Like-button {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 0.9em;
  border: none;
  background: none;
  padding: 0;
  color: #EEEEEE;
  transition: color 0.3s;
}

.Like-button:hover {
  cursor: pointer;
  color: var(--contributor-green);
  transition: color 0.3s;
}

.Like-button-liked {
  color: var(--contributor-green);
  transition: color 0.3s;
}

.Like-dislike-score {
  color: var(--contributor-green);
  margin-right: 0.5em;
}
