.Module-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #272739;
  margin: auto;
  width: 90%;
  padding: 1.4em 2em 2em 2em;
  box-sizing: border-box;
  flex: 1 0 auto;
}

@media screen and (max-width: 750px) {
  .Module-wrapper {
    width: 100%;
  }
}

.Module-wrapper .Module-heading {
  font-family: 'Verdana';
  color: white;
  margin: 0.7em auto 0.4em auto;
  text-align: center;
}

.Module-description {
  font-family: 'Verdana';
  color: white;
  margin: auto;
  width: 85%;
}

.Module-description-centered {
  text-align: center;
}

.Module-space {
  background-color: #252545;
  font-family: 'Verdana';
  flex: 1 0 auto;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  margin: 0.75em auto 2em;
  padding: 1em;
  width: 90%;
  border-radius: 3px;
  border: 2px solid white;
  color: white;
}

.Module-info-box {
  background-color: #335577;
  font-family: 'Arial';
  width: 100%;
  padding: 0.8em 1em;
  box-sizing: border-box;
  color: white;
  border-radius: 3px;
}

.Module-info-box h4 {
  margin: 0.3em 0 0.6em 0;
}

.Module-info-box p, .Module-info-box a  {
  margin: 0.6em 0;
}

.Module-info-box a {
  font-weight: bold;
}

.Module-popup {
  background-color: #222233;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: auto;
  border-radius: 3px;
  border: 2px solid white;
  box-shadow: 5px 5px rgba(40, 50, 100, 0.7),
              10px 10px rgba(40, 50, 100, 0.5),
              15px 15px rgba(40, 50, 100, 0.3);
}

.Module-popup h2, .Module-popup p {
  color: #DDDDDD;
  font-family: Arial;
  margin-bottom: 0;
}

.Module-popup h2 {
  margin: 0;
}

.Module-popup input[type="submit"] {
  margin-top: 2em;
}

.Module-blocker {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
