.Module-wrapper {
  display: flex;
  flex-direction: column;
  background-color: red;
  background-color: #272739;
  margin: auto;
  width: 90%;
  padding: 0.8em;
  box-sizing: border-box;
  flex: 1 0 auto;
}

@media screen and (max-width: 750px) {
  .Module-wrapper {
    width: 100%;
    padding: 0.8em;
  }
}

.Module-wrapper .Module-heading {
  font-family: 'Verdana';
  color: white;
  margin: 0.4em auto 0.4em auto;
  text-align: center;
}

.Module-description {
  font-family: 'Verdana';
  color: white;
  margin: auto;
  width: 85%;
}

.Module-description-centered {
  text-align: center;
}

.Module-space {
  display: flex;
  background-color: #252545;
  font-family: 'Verdana';
  flex: 1 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  width: 100%;
  border-radius: 3px;
  border: 1px solid white;
  color: white;
}

.Module-padding-box {
  padding: 1em;
}

.Module-space-heading, .Module-space-text {
  margin: 0.2em 0;
}

.Module-space-heading:first-child, .Module-space-text:first-child {
  margin: 0 0 0.2em 0;
}

.Module-space-text {
  font-size: 0.8em;
}

.Module-info-box {
  background-color: #282864;
  font-family: 'Arial';
  width: 100%;
  padding: 0.6em 1em;
  margin-bottom: 0.8em;
  box-sizing: border-box;
  color: white;
  border-radius: 3px;
}

.Module-info-box h4 {
  margin: 0.2em 0 0.4em 0;
}

.Module-info-box p, .Module-info-box a  {
  margin: 0.4em 0;
}

.Module-info-box a {
  font-size: 0.8em;
}

.Module-popup {
  background-color: #222233;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: auto;
  border-radius: 3px;
  border: 2px solid white;
  box-shadow: 5px 5px rgba(40, 50, 100, 0.7),
              10px 10px rgba(40, 50, 100, 0.5),
              15px 15px rgba(40, 50, 100, 0.3);
}

.Module-popup h2, .Module-popup p {
  color: #DDDDDD;
  font-family: Arial;
  margin-bottom: 0;
}

.Module-popup h2 {
  margin: 0;
}

.Module-popup input[type="submit"] {
  margin-top: 2em;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.Module-blocker {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  animation: fade-in 0.4s forwards;
}
