.Search-select-options {
  position: absolute;
  list-style-type: none;
  background-color: #222233;
  border-radius: 2px;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  max-height: 11em;
  overflow: auto;
  box-sizing: border-box;
  z-index: 1;
}

.Search-select-options li {
  color: #DDDDDD;
  font-size: 0.9em;
  padding: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0);
}

.Search-select-options li:hover {
  cursor: pointer;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.2);
}
