.Askd-text-editor {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: #EEEEEE;
  width: 100%;
  margin: 1em 0;
  box-sizing: border-box;
  color: black;
  font-family: Arial;
  font-weight: normal;
  border-radius: 3px;
  border: 2px solid #888888;
}

.Askd-text-editor-toolbar {
  background-color: #CCCCCC;
  height: 2.1em;
  width: 100%;
  border-bottom: 2px solid #AAAAAA;
  box-sizing: border-box;
}

.Askd-text-editor-toolbar ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Askd-text-editor-toolbar li {
  height: 1.6em;
  width: 1.6em;
  margin: 0 0 0 0.4em;
}

.Askd-text-editor-text {
  padding: 0.7em;
  width: 100%;
  min-height: 20em;
  box-sizing: border-box;
}

.Askd-text-editor-text div {
  display: inline;
  white-space: pre-wrap;
}

/* Toolbar icon styles */
.Askd-tb-selected-true button {
  color: #5577FF;
  background-color: #BBBBCC;
  border-radius: 3px;
}

.Askd-tb-icon {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.Askd-tb-icon:hover {
  border-radius: 3px;
  background-color: #BBBBBB;
  cursor: pointer;
}

.Askd-tb-BOLD::after {
  content: 'B';
  font-weight: bold;
}

.Askd-tb-ITALIC::after {
  text-align: left;
  content: 'I';
  font-style: italic;
  font-weight: bold;
  padding-right: 1px;
}

.Askd-tb-UNDERLINE::after {
  content: 'U';
  text-decoration: underline;
}

/* User-inputted text styles */
.Askd-te-BOLD {
  font-weight: bold;
}

.Askd-te-ITALIC {
  font-style: italic;
}

.Askd-te-UNDERLINE {
  text-decoration: underline;
}
