.Askd-text-editor {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  margin: 1em 0;
  box-sizing: border-box;
  color: black;
  font-family: Arial;
  font-weight: normal;
}

.Askd-text-editor-toolbar {
  background-color: var(--main-bg-color);
  height: 2.1em;
  width: 100%;
  border: 1px solid var(--super-dark-bg-color);
  border-bottom: none;
  box-sizing: border-box;
}

.Askd-text-editor-toolbar ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Askd-text-editor-toolbar li {
  height: 1.6em;
  width: 1.6em;
  margin: 0 0 0 0.4em;
}

.Askd-text-editor-text {
  width: 100%;
  min-height: 25em;
  box-sizing: border-box;
}

.Askd-text-editor-text div {
  display: inline;
  white-space: pre-wrap;
}

.Askd-text-editor-uneditable {
  padding: 1em 0;
  border-bottom: 1px solid var(--super-dark-bg-color);
  border-top: 1px solid var(--super-dark-bg-color);
}

.Askd-text-editor-editable {
  padding: 0.7em;
  border: 1px solid var(--super-dark-bg-color);
}

.Askd-text-editor-editable:focus {
  outline: none;
  border: 1px solid var(--recent-actions-color);
  box-shadow: inset 0 0 1px 0 var(--recent-actions-color);
  transition: border 0.3s, box-shadow 0.3s;
}

/* Toolbar icon styles */
.Askd-tb-selected-true button,
.Askd-tb-selected-true button:hover {
  color: var(--recent-actions-color);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  transition: background-color 0.1s;
}

.Askd-tb-icon {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.05em;
  font-family: 'icomoon';
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  transition: background-color 0.1s;
}

.Askd-tb-icon:hover {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.025);
  cursor: pointer;
  transition: background-color 0.1s;
}

.Askd-tb-MATH::after {
  content: "\f12b";
}

.Askd-tb-BOLD::after {
  content: "\ea62";
}

.Askd-tb-ITALIC::after {
  content: "\ea64";
  font-size: 0.96em;
}

.Askd-tb-UNDERLINE::after {
  position: relative;
  top: 1.1px;
  content: "\ea63";
}

/* User-inputted text styles */
.Askd-te-MATH {
  color: green;
  padding: 0.15em;
  position: relative;
  font-family: Courier New, Consolas, Monaco, Lucida Console;
  font-size: 0.9em;
  bottom: 0.08em;
  background-color: rgba(0, 255, 0, 0.2);
}

.Askd-text-editor-editable .Askd-te-MATHJAX:hover {
  cursor: pointer;
}

.Askd-te-BOLD {
  font-weight: bold;
}

.Askd-te-ITALIC {
  font-style: italic;
}

.Askd-te-UNDERLINE {
  text-decoration: underline;
}
