.User-notes {
  overflow: auto;
  position: relative;
}

.User-notes-add {
  position: absolute;
  right: 0.4em;
  bottom: 0.4em;
}

.User-notes-organize {
  display: inline;
  vertical-align: middle;
  font-family: Arial;
  color: white;
}

.User-notes-organize label {
  margin-right: 0.3em;
}

.User-notes-list {
  list-style-type: none;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.User-note-info {
  position: relative;
  border: 1px solid white;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #353555;
}

.User-note-info h5 {
  margin: 0;
}

.User-note-info h6 {
  margin: 0.15em 0;
}

.User-note-info-title {
  color: #DDDDDD;
  font-weight: normal;
  font-style: italic;
}

.User-note-info-edit {
  position: absolute;
  font-size: 0.8em;
  top: 0.2em;
  right: 0.6em;
  opacity: 0;
  transition: opacity 0.25s;
}

.User-note-info:hover .User-note-info-edit,
.User-note-info-edit:focus {
  opacity: 1;
  transition: opacity 0.25s;
}

.User-note-info-tags {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-top: 0.2em;
}

.User-note-info-tags li {
  display: inline-block;
  font-size: 0.6em;
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 4px;
  vertical-align: middle;
}

.User-note-tag-published {
  background-color: #5555E5;
}

.User-note-tag-published::before {
  content: 'Published!'
}

.User-note-tag-unpublished {
  background-color: #E53555;
}

.User-note-tag-unpublished::before {
  content: 'Unpublished'
}

.User-note-info-solved .User-note-solved-indicator {
  background-color: #359575;
}

.User-note-info-solved .User-note-solved-indicator::before {
  content: 'Solved!';
}

.User-note-info-upsolved .User-note-solved-indicator {
  background-color: #6525C5;
}

.User-note-info-upsolved .User-note-solved-indicator::before {
  content: 'Upsolved';
}

.User-note-info-upsolved-help .User-note-solved-indicator {
  background-color: #D59565;
}

.User-note-info-upsolved-help .User-note-solved-indicator::before {
  content: 'Upsolved with help';
}

.User-note-info-unsolved .User-note-solved-indicator {
  background-color: #D51530;
}

.User-note-info-unsolved .User-note-solved-indicator::before {
  content: 'Unsolved';
}

.User-note-contest-notes {
  display: flex;
  background-color: #555575;
  margin-top: 0.2em;
  padding: 0;
  border-radius: 2px;
}

.User-note-contest-notes li {
  position: relative;
  display: flex;
  margin: 0.3em;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

.User-note-contest-code {
  font-size: 0.8em;
}

.User-note-contest-code-small {
  font-size: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.User-note-contest-edit {
  position: absolute;
  font-size: 0.6em;
  top: 0;
  right: 0.2em;
  opacity: 0;
  transition: opacity 0.25s;
}

.User-note-contest-notes li:hover .User-note-contest-edit,
.User-note-contest-edit:focus {
  opacity: 1;
  transition: opacity 0.25s;
}

.User-note-contest-solved {
  background-color: #359575;
}

.User-note-contest-upsolved {
  background-color: #6525C5;
}

.User-note-contest-upsolved-help {
  background-color: #D59565;
}

.User-note-contest-unsolved {
  background-color: #D51530;
}

.User-notes-title-dropdown {
  position: relative;
  margin: 0.7em;
  margin-bottom: 0.4em;
  padding: 0.2em;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.User-notes-title-dropdown-showhide {
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.User-notes-title-dropdown-heading {
  margin: 0.5em;
  margin-top: 0.3em;
}
