.User-notes {
  overflow: auto;
  position: relative;
  min-height: 18em;
}

.User-notes-outer {
  flex-direction: column;
  flex: 1 0 auto;
}

.User-notes-nothing {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

.User-notes-add {
  position: absolute;
  right: 0.3em;
  bottom: 0.3em;
  opacity: 0.7;
}

.User-notes-add:hover {
  opacity: 1;
}

.User-notes-organize {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-family: Arial;
  color: white;
  margin: 0.2em;
}

.User-notes-organize:last-child {
  margin-bottom: 1em;
}

.User-notes-organize label {
  margin-right: 0.3em;
}

.User-notes-list {
  list-style-type: none;
  flex: 1 0 auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

.User-note-info {
  position: relative;
  border: 1px solid #494A78;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #323252;
}

.User-note-info h5 {
  margin: 0;
}

.User-note-info-title {
  color: #CCCCCC;
  margin: 0.15em 0;
  font-weight: normal;
  font-style: italic;
}

.User-note-info-timestamp {
  margin: 0;
}

@media screen and (min-width: 500px) {
  .User-note-info-timestamp {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
  }
}

@keyframes slowly-enable-pointer {
  from { pointer-events: none; }
  to { pointer-events: all; }
}

.User-note-info-links {
  position: absolute;
  padding: 0;
  top: 0.05em;
  right: 0.6em;
  list-style-type: none;
}

.User-note-info-links li {
  display: inline;
  text-align: right;
  font-size: 0.8em;
  opacity: 0;
  transition: opacity 0.25s;
  margin-left: 1em;
}

.User-note-info:hover .User-note-info-links li {
  opacity: 1;
  transition: opacity 0.25s;
  animation-name: slowly-enable-pointer;
  animation-duration: 0.4s;
}

.User-note-info-tags {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-top: 0.2em;
}

.User-note-info-tags li {
  margin-right: 1em;
}

.User-note-info-tag {
  display: inline-block;
  font-size: 0.6em;
  padding: 0.5em;
  border-radius: 4px;
  vertical-align: middle;
}

.User-note-tag-published {
  background-color: #5555E5;
}

.User-note-tag-published::before {
  content: 'Published!'
}

.User-note-tag-unpublished {
  background-color: #E53555;
}

.User-note-tag-unpublished::before {
  content: 'Unpublished'
}

.User-note-info-solved .User-note-solved-indicator {
  background-color: #359575;
}

.User-note-info-solved .User-note-solved-indicator::before {
  content: 'Solved!';
}

.User-note-info-upsolved .User-note-solved-indicator {
  background-color: #6525C5;
}

.User-note-info-upsolved .User-note-solved-indicator::before {
  content: 'Upsolved';
}

.User-note-info-upsolved-help .User-note-solved-indicator {
  background-color: #D59565;
}

.User-note-info-upsolved-help .User-note-solved-indicator::before {
  content: 'Upsolved with help';
}

.User-note-info-unsolved .User-note-solved-indicator {
  background-color: #D51530;
}

.User-note-info-unsolved .User-note-solved-indicator::before {
  content: 'Unsolved';
}

.User-note-contest-notes {
  display: flex;
  background-color: #555575;
  margin-top: 0.2em;
  padding: 0;
  border-radius: 2px;
}

.User-note-contest-note {
  position: relative;
  display: flex;
  margin: 0.3em;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #DDDDDD;
  justify-content: center;
  align-items: center;
}

.User-note-contest-timestamp {
  margin: 0;
  color: #EEEEEE;
}

.User-note-contest-code {
  font-size: 0.8em;
}

.User-note-contest-code-small {
  font-size: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.User-note-contest-links {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0.2em;
  list-style-type: none;
}

.User-note-contest-links li {
  font-size: 0.6em;
  opacity: 0;
  transition: opacity 0.25s;
  text-align: right;
}

.User-note-contest-notes li:hover .User-note-contest-links li {
  opacity: 1;
  transition: opacity 0.25s;
  animation-name: slowly-enable-pointer;
  animation-duration: 0.4s
}

.User-note-contest-solved {
  background-color: #359575;
}

.User-note-contest-upsolved {
  background-color: #6525C5;
}

.User-note-contest-upsolved-help {
  background-color: #D59565;
}

.User-note-contest-unsolved {
  background-color: #D51530;
}

.User-notes-title-dropdown {
  position: relative;
  margin: 0.5em;
  margin-bottom: 0.4em;
  padding: 0.2em;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.User-notes-title-dropdown-showhide {
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.User-notes-title-dropdown-heading {
  margin: 0.5em;
  margin-top: 0.3em;
}
